@font-face {
  font-family: "Inika";
  src: url(./assets/fonts/Inika/Inika-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inika";
  src: url(./assets/fonts/Inika/Inika-Bold.ttf);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Inika";
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  width: 1300px;
}

.header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 5px;
}

.logo__img {
  width: 30px;
}

.logo__title {
  font-size: 16px;
  color: rgb(20, 120, 53);
}

.logo__text {
  font-size: 8px;
}

.nav__list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-size: 20px;
  font-weight: 700;
  &:hover {
    color: rgb(207, 212, 63);
  }
}

.menu {
  width: 1200px;
  position: relative;
  display: flex;
  box-shadow: 20px 20px 50px black;
  margin: 50px auto;
}

.menu__content {
  width: 400px;
  padding: 30px 30px 0px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

.menu__content::before {
  content: "";
  display: block;
  position: absolute;
  right: 300px;
  top: 110px;
  width: 2px;
  height: 150px;
  background-color: black;
}

.menu__img {
  width: 850px;
  height: 600px;
}

.menu__title {
  font-size: 26px;
  padding: 30px 0px 20px 30px;
  font-weight: 700;
}

.menu__descr {
  width: 500px;
  max-height: 350px;
  padding: 30px;
  font-size: 20px;
  background-color: rgba(20, 120, 53);
  position: absolute;
  top: 380px;
  right: 70px;
  overflow:auto;
  text-align: justify;
  box-shadow: 2px 2px 10px black;
}

.active-menu {
  color:rgb(20, 120, 53);
  font-weight: 700;
}

.menu__item {
  cursor: pointer;
  &:hover {
    color: rgb(207, 212, 63);
  }
}

.food__list {
  padding: 110px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}

.food__item {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.food__img {
  max-width: 400px;
  max-height: 300px;
}

.food__title {
  font-weight: 700;
  color: rgb(20, 120, 53);
  font-size: 26px;
}

.food__name {
  font-weight: 700;
}

.price {
  font-weight: 700;
  font-size: 20px;
}

.add-item {
  padding: 10px 0px;
  background-color: rgb(20, 120, 53);
  border: none;
  align-self: stretch;
  cursor: pointer;
  &:hover {
    background-color: rgb(207, 212, 63);
  }
}